@font-face {
  font-family: 'poppins';
  src: url(../assets/fonts/Poppins-Black.ttf);
}

.body{
  background-color: #979797;
}

.granContenedor{
  width: 100%;
  max-width: 2000px;
  margin: auto;
  overflow:hidden;
  background-color: #979797;
}

.hero {
  position: relative;
  background-image: url('../assets/images/header.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.hero-content {
  position: absolute;
  top: 70%;    
  z-index: 1;
  max-width: 60%
}

.hero-content h1 {
  font-size: 2.5rem;
  line-height: 1.2;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

@media (min-width: 768px) {
  .hero-content h1 {
    font-size: 3.5rem;
  }
}
/*Endregion*/

/*region mas sobre nosotros*/
.centerH2 {
  margin-top: 50px;
  text-align: center;
}

.centerCasasVenta {
  text-align: center;
}

.container-detail {
  flex: 1;
  text-align: center;
  padding: 20px;
  background-color: #b6c1cd;
  border-radius: 10px;
  margin: 10px;
}

.container-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 25px;
}

.container-details {
  margin-top: 40px;
  text-align: center;
}

.container-details img {
  display: block;
  margin: 0 auto;
}
/*endregion*/


/*region casas en venta*/
.centerCasasVenta {
  margin-top: 80px;
  text-align: center;
}
.house-articles {
  margin-top: 25px;
  flex-wrap: wrap;
  justify-items: center;
  justify-content: center;
  box-sizing: border-box;
  gap: 0.5rem;
}

.price {
  font-size: 1.7rem;
  color: rgb(24, 204, 24);
  font-weight: bold;
  margin-bottom: 15px;
}
.icons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

.icons .icon {
  text-align: center;
  margin: 0;
}

.botonVerMas {
  width: 190px;
  height: 60px;

  cursor: pointer;
  gap: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  border-radius: 1.5rem;

  background: #e08709;

  margin-left: auto;
  margin-right: 200px;
  margin-top: 50px;
}

/*endregion*/


/*region contactanos*/

.contactanos {
  background-image: url("./assets/images/encuentra.jpg");
  box-sizing: border-box;
}

.contactanos h2 {

  position: relative;
  left: 50px;
  top: 200px;
  color: white;
  font-size: 50px;
}

.contactanos h3 {

  position: relative;
  left: 50px;
  bottom: 335px;
  color: whitesmoke;
  font-size: 25px;

}

.contactoBTN {

  width: 190px;
  height: 60px;

  cursor: pointer;
  gap: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  border-radius: 1.5rem;

  background: #e08709;

  position: relative;
  left: 50px;
  bottom: 200px;
}

/*endregion*/

/*region blog y comentarios*/
body {
  box-sizing: border-box;
}

.contenedor {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  box-sizing: border-box;
}

.blog {
  width: 61%;
}

.blog h2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
  text-align: center;
  background-color: #979797;
}

.blog-post {
  display: flex;
  margin-bottom: 20px;
}

.coment-image img {
  width: 190px;
  height: 180px;
  object-fit: cover;
  margin-right: 20px;
}

.blog-content {
  flex: 1;
  width: 70%;
  padding: 20px;
  background-color: #dce8dc;
}

.blog-content h3 {
  font-size: 25px;
  margin: 0;
}

.blog-content p {
  margin: 25px 0;
}


.comentarios{
  width: 18rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background-color: #dce8dc;
  border-radius: 5%;
}
.comentarios-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.8rem;
}
.comentarios-text {
  text-align: center;
  flex-grow: 1;
  margin-top: 10%;
}
.comentarios-link {
  font-size: 1.3rem;
  text-align: right;
  display: block;
  margin-top: auto;
  margin-right: 10px;
}
/*endregion*/

/*boton wpp*/
.float-button {
  position: fixed;
  bottom: 70px;
  right: 20px;
  z-index: 1000;
  background-color: #25d366;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  box-shadow: 2px 2px 3px #999;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: all 0.3s ease;
}

.float-button:hover {
  background-color: #128C7E;
}

.float-button img {
  width: 40px; 
  height: 40px; 
  object-fit: contain;
}